<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="sidenav"
    fixedInViewport
  >
  <mat-toolbar class="sidenav-header" style="display: flex; justify-content: center; align-items: center; padding-right: 50px;">
    <span>Menu</span>
  </mat-toolbar>
    <mat-nav-list>
      <!-- Rooms -->
      <a mat-list-item routerLink="/rooms" routerLinkActive="active">
        <mat-icon>meeting_room</mat-icon>
        <span>Rooms</span>
      </a>
      <!-- Classes -->
      <a mat-list-item routerLink="/classes" routerLinkActive="active">
        <mat-icon>class</mat-icon>
        <span>Classes</span>
      </a>
      <!-- Sessions -->
      <a mat-list-item routerLink="/sessions" routerLinkActive="active">
        <mat-icon>event</mat-icon>
        <span>Sessions</span>
      </a>
      <!-- Students -->
      <a mat-list-item routerLink="/students" routerLinkActive="active">
        <mat-icon>school</mat-icon>
        <span>Students</span>
      </a>
      <!-- Subjects -->
      <a mat-list-item routerLink="/subjects" routerLinkActive="active">
        <mat-icon>book</mat-icon>
        <span>Subjects</span>
      </a>
      <!-- Teachers -->
      <a mat-list-item routerLink="/teachers" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Teachers</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        mat-icon-button
        class="menu-button"
        (click)="sidenav.toggle()"
        aria-label="Toggle sidebar"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>CRUD App</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
