<div class="container1">
  <h1>Subjects</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Subject ID</th>
        <th>Subject Name</th>
        <th>Subject Code</th>
        <th>Department</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(subject of subjects; track subject){
      <tr>
        <td>{{ subject.subject_id }}</td>
        <td>{{ subject.subject_name }}</td>
        <td>{{ subject.subject_code }}</td>
        <td>{{ subject.department }}</td>
        <td>{{ subject.description }}</td>
        <td>
          <button class="btn btn-warning" (click)="updateSubject(subject.id)">
            Update
          </button>
          <button class="btn btn-danger" (click)="deleteSubject(subject.id)">
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <br />
  <a href="/subjects-create">
    <button class="btn btn-primary">Add Subject</button>
  </a>
</div>
