<div class="container">
    <h1>Update Subject</h1>
    <form (submit)="updateSubject()">
      <div class="form-group">
        <label for="subject_id">Subject ID</label>
        <input
          type="text"
          id="subject_id"
          class="form-control"
          [(ngModel)]="subject.subject_id"
          name="subject_id"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="subject_name">Subject Name</label>
        <input
          type="text"
          id="subject_name"
          class="form-control"
          [(ngModel)]="subject.subject_name"
          name="subject_name"
          required
        />
      </div>
      <div class="form-group">
        <label for="subject_code">Subject Code</label>
        <input
          type="text"
          id="subject_code"
          class="form-control"
          [(ngModel)]="subject.subject_code"
          name="subject_code"
          required
        />
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <input
          type="text"
          id="department"
          class="form-control"
          [(ngModel)]="subject.department"
          name="department"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          [(ngModel)]="subject.description"
          name="description"
          required
        ></textarea>
      </div>
      <button class="btn btn-success" type="submit">Update Subject</button>
    </form>
  </div>
  